.videoplayer {
    width: 1200px;
    display: flex;
    flex-direction: column;
    /* 자식 요소들을 세로로 배열 */
    margin: auto;
}

.player {
    width: 800px;
    /* 또는 원하는 크기 */
    height: 450px;
    /* 또는 원하는 크기 */
    position: relative;
    /* 자식 요소를 위한 위치 컨텍스트 */
}

.subtitles {
    max-height: 500px;
    overflow: hidden;
}

.subtitle-show {
    font-weight: bold;
}

.vp-span-word {
    color: black;
    /* 기본 색상 */
    transition: color 0.3s ease;
    /* 색상 변경 애니메이션 */
    font-size: 16px;
    margin-right: 5px;
}

.vp-span-word:hover {
    color: red;
    /* 마우스 오버 시 색상 */
}

.video-subtitles-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 6px;
    padding: 3px;
    overflow: hidden;
    overflow-x: hidden;
}

.pt {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.pe {
    margin-bottom: 40px;
    margin-top: 5px;
}

.pk:hover,
.pt:hover,
.pe:hover {
    font-weight: bold;
}

.vp-word-title {
    color: #637BC8;
    margin-top: 10px;
    margin-bottom: 5px;
}

.vp-word-meaning {
    color: white;
    margin-top: 0px;
}

.vp-word-icon {
    cursor: pointer;
    height: 25px;
    margin: 2px;
    padding: 1px;
}

.vp-word-menu {
    position: relative;
    height: 30px;
    width: 110px;
    background-color: #F4F4F4;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 25px;
    left: -10px;
    cursor: pointer;
}

.vp-video-button{
    background-color: #F4F4F4;
    height: 36px;
    margin-right: auto;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    padding: 0 10px; /* 패딩 추가하여 내부 간격 조절 */
}

.vp-community-div{
  display: flex;  /* flexbox 레이아웃 사용 */
  flex-direction: column;  /* 아이템을 수직으로 쌓기 */
  gap: 10px;  /* 각 아이템 사이의 간격 설정 */
}

.vp-community-item {
  padding: 8px;  /* 패딩으로 아이템 내부 여백 생성 */
  margin-top: 5px;
  border-bottom: 1px solid darkgray;
}