.rv-con-div{
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    max-width: 1200px;
    margin: auto;
}
.rv-player {
    min-width: 500px;
    /* 또는 원하는 크기 */
    height: 350px;
    /* 또는 원하는 크기 */
    position: relative;
    /* 자식 요소를 위한 위치 컨텍스트 */
}
.rv-reporting {

    margin-left: 30px;
    width: 500px;
    min-width: 500px;
    /* 또는 원하는 크기 */
    height: 350px;
    /* 또는 원하는 크기 */
    position: relative;
    /* 자식 요소를 위한 위치 컨텍스트 */
}

.rv-word-div{
}

.rv-sen-div{
    margin-bottom: 20px;
}
.rv-inwordmean{
    margin-bottom: 10px;
    height: 50px;
    border: 1px solid darkgray;
    width: 95%;
    border-radius: 3px;
    flex: 1;
}
.rv-insenmean{
    margin-bottom: 10px;
    height: 30px;
    border: 1px solid darkgray;
    width: 100%;
    border-radius: 3px;
    overflow-y: none;
}
