.card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  transition: transform 0.2s;
  min-height: 327px; /* 적절한 최소 높이 설정 */
  min-width: 300px;
}


.card:hover {
  transform: scale(1.05); /* 마우스를 올렸을 때 카드를 약간 키웁니다 */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* 그림자를 더 도드라지게 만듭니다 */
  cursor: pointer; /* 마우스 오버 시 커서 변경을 추가합니다 */
}


.card-image {
  width: 90%;
  height: 200px; /* 이미지 높이를 설정합니다 */
  object-fit: cover; /* 이미지 비율을 유지하면서 채웁니다 */
  border-radius: 10px;
}

.card-content {
  flex: 1; /* 모든 사용 가능한 공간을 차지하도록 설정 */
  display: flex;
  flex-direction: column;
}

.card-title {
  margin: 0;
  color: #333;
  font-size: 1.5em; /* 타이틀 폰트 크기를 설정합니다 */
}

.card-subtitle {
  color: #666;
  font-size: 1em;
  margin: 4px 0;
}

.card-stats {
  margin-top: auto; /* 모든 추가 공간을 위로 밀어 올림 */
}

.card-likes,
.card-comments {
  font-size: 0.8em;
  color: #999;
}

.card-divider {
  border: 1px solid gray;
  margin-top: auto; /* 이 클래스를 가진 수평선을 바닥으로 밀어내기 */
  width: 100%; /* 수평선의 폭을 카드 폭과 동일하게 설정 */
}