
.card {
    display: grid;
    grid-template-columns: 1fr; 
    width: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    padding-left: 9px;
    padding-right: 10px;
    background-color: #fff; 
    border-radius: 8px;
    transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05); /* 마우스를 올렸을 때 카드를 약간 키웁니다 */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* 그림자를 더 도드라지게 만듭니다 */
  cursor: pointer; /* 마우스 오버 시 커서 변경을 추가합니다 */
}


.card-image {
  width: 90%;
  height: 200px; /* 이미지 높이를 설정합니다 */
  object-fit: cover; /* 이미지 비율을 유지하면서 채웁니다 */
  border-radius: 10px;
}

.card-content {
  padding: 0px 16px 16px;
}

.card-title {
  margin: 0;
  color: #333;
  font-size: 1.5em; /* 타이틀 폰트 크기를 설정합니다 */
}

.card-subtitle {
  color: #666;
  font-size: 1em;
  margin: 4px 0;
}

.card-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
}

.card-likes,
.card-comments {
  font-size: 0.8em;
  color: #999;
}
