.player {
    width: 800px;  /* 또는 원하는 크기 */
    height: 450px; /* 또는 원하는 크기 */
    position: relative; /* 자식 요소를 위한 위치 컨텍스트 */
}

.subtitles {
    margin-left: 20px;
    max-height: 500px;
    overflow-y: hidden;
}

.subtitle-show {
    display: block;
}

.subtitle-hide {
    display: none;
}
