/* Signup.css */
.su-signup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;         
  align-items: center;  
  margin: auto;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  /*border: 2px solid #555;*/
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #f9f9f9;
}

.su-span-bold {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}

.su-span {
  display: block;
  font-size: 16px;
  margin-top: 10px;
}

.su-input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.su-button {
  padding: 10px 20px;
  font-size: 18px;
  color: white;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.su-button:hover {
  background-color: #45a049;
}

.su-radio-group {
  display: flex;
  justify-content: start;
  margin-bottom: 15px; /* Maintain consistent spacing */
}

.su-radio-group label {
  margin-right: 20px; /* Space out the radio button options */
  font-size: 16px; /* Match font size to other form labels */
  color: #333; /* Consistent text color */
  cursor: pointer; /* Indicates clickable options */
}

.su-radio-group input[type="radio"] {
  margin-right: 5px; /* Small space between radio button and label text */
  cursor: pointer;
}
