.recommand {
  padding: 20px;
  display: flex;
  align-items: center; /* 모든 자식을 수직으로 중앙에 위치시키지만 */
  width: 1200px;
}

.video-link {
  text-decoration: none;
  color: black; /* 링크 색상 */
  width: 500px;
}
