.wr-input-css{
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 800px;
    min-height: 35px;
    border: none;
    border-radius: 4px;
    background-color: #F1F1F1;
    padding-left: 10px; 
    outline: none;
    font-size: 13px;
    font-weight: 400;
    white-space: pre-wrap; /* 추가: 개행 문자 처리를 위한 속성 */
}

/* WriteCommunity.css */
.center-button {
    display: grid;
    place-items: center;
    margin: 20px 0;
}

.wr-button-css {
    width: 200px;  /* 버튼의 너비 조정 */
    padding: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.wr-button-css:hover {
    background-color: #45a049;
}
